html {
  font-family: sans-serif;
}

div {
  width: 200px;
  vertical-align: text-top;
  font-size: 18px;
  background-color: red;
  color: white;
  text-shadow: black;
  border-radius: 2px;
  
}

/* Your CSS below here */